@import 'tailwindcss';

body {
    @apply bg-olive-100;
}

main, body > div {
    max-width: 80rem;
    margin-inline: auto;
}

h1, h2, h3 {
    letter-spacing: -0.02em;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}
