.sidebar-header {
    font-family: "GrugHand", sans-serif;
    margin-left: 10px;
}

.flex-page {
    display: flex;
}

.nav-link {
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;

    font-family: "GrugHand", sans-serif;
    color: #000000;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    color: #000000;
    text-decoration: wavy underline;
    text-underline-offset: 5px;
}

.group-sidebar {
    font-family: "GrugHand", sans-serif;
    margin-left: 10px;
    font-weight: 600;
}
