:root {
    color-scheme: light dark;

    --bg-color: light-dark(#ffffff, #222222);
    --nav-color: light-dark(#000000, #ffffff);
}

body {
    background-color: var(--bg-color);
}

.sidebar-header {
    font-family: "GrugHand", sans-serif;
    margin-left: 10px;
}

.flex-page {
    display: flex;
}

.nav-link {
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;

    font-family: "GrugHand", sans-serif;
    color: var(--nav-color);
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    color: var(--nav-color);
    text-decoration: wavy underline;
    text-underline-offset: 5px;
}

.group-sidebar {
    font-family: "GrugHand", sans-serif;
    margin-left: 10px;
    font-weight: 600;
}
